/* Basic Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #2d3438;
	background-image: url('images/jcimage2.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-family: 'Arial', sans-serif;
	line-height: 1.6;
	color: #333;
	padding: 8px;
}

/* Header styling */
header {
	backdrop-filter: blur(7px);
	background-color: rgba(0.3, 0.3, 0.3, 0.5);
	color: white;
	padding: 20px 8px;
	border-radius: 8px;
	text-align: center;
	box-shadow: 0 0px 10px 10px rgba(0.1,0.1,0.1,0.3);
}

nav {
	backdrop-filter: blur(7px);
	background-color: rgba(0.3, 0.3, 0.3, 0.5);
	color: white;
	padding: 20px 8px;
	border-radius: 8px;
	text-align: left;
	box-shadow: 0 0px 10px 10px rgba(0.1,0.1,0.1,0.3);
}

nav a {
	padding: 0px 32px;
	link-color: white;
}

.home:link {
	color: white;
}

.home:hover {
	color: grey;
}

.home:visited {
	color: red;
}

.winners:link {
	color: white;
}

.winners:hover {
	color: grey;
}

.winners:visited {
	color: red;
}

.games:link {
	color: white;
}

.games:hover {
	color: grey;
}

.games:visited {
	color: red;
}

.contact:link {
	color: white;
}

.contact:hover {
	color: grey;
}

.contact:visited {
	color: red;
}

.header-content h1 {
	font-size: 2.5em;
}

.header-content p {
	font-size: 1.2em;
	margin: 10px 0 8px;
}

.cta-btn {
	background-color: #7785cc;
	color: white;
	padding: 10px 8px;
	text-decoration: none;
	font-size: 1.1em;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

.cta-btn:hover {
	background-color: #7785cc;
}

/* Main section styling */
main {
	margin-top: 16px;
}

section {
	backdrop-filter: blur(7px);
	background-color: rgba(0.3, 0.3, 0.3, 0.5);
	color: white;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 0 0px 10px 10px rgba(0.1,0.1,0.1,0.3);
}

/* Responsive Design */
@media (max-width: 768px) {
	.header-content h1 {
		font-size: 2em;
	}

	.header-content p {
		font-size: 1em;
	}

	.cta-btn {
		padding: 8px 16px;
		font-size: 1em;
	}
}
